#app {
  display: flex;
}
#tools {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  gap: 40px;
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  margin-top: 50px;
}
#tools {
  color: white;
}
#color,
#font,
#size {
  margin-left: 10px;
  width: 30%;
}
#add-text {
  height: 40px;
  width: 300px;
  border-radius: 10px;
  border: 0;
  background-color: blueviolet;
  color: white;
  font-size: large;
  cursor: pointer;
  box-shadow: 1px 1px 12px 0px white;
}
#add-text:hover {
  background-color: rgb(108, 24, 187);
  outline: 2px solid yellow;
}
